.bg-dark {
  background-color: rgb(57, 57, 57);
}

.border-gray-medium {
  border: 1px solid #4d4d4d;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.custom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom-buttons button,
.custom-buttons div {
  color: white;
  border-color: #979797;
}

.shopping-cart {
  position: fixed;
  right: 10px;
  top: 0px;
}
